body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 50px;
}

.new class{
    padding: 0%;
}
.orange-color{
    color: chartreuse;
}
.yellow-color{
    color: gold;
}
.blue{
    color: white;
}
.white{
    color: yellow;
}

#anik{
    width: 30#;
}
.food-lover{

     display: flex;
    margin-bottom: 100px;
}
.Food-review{
   
    width: 50%;
    padding-left: 3%;
}
.Food-review img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(greenyellow,orange);
   
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 200;
    
}
.color{
    color: tomato;
}
.top-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.mid-center{
    text-align:center ;
    padding-left: 15%;
    padding-right: 15%;
}

.food-area{
  
  display: flex;
 
}

    
    
.food-link{
    padding-left: 400px;
   
   
    
    display: flex;
   
    
}
.footer{
    background-image: url(images/biplop2.jpg);
    text-align: center;
   
}
.food-image{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.Pizza-lover{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    padding: 10px 10px;
}
.media{
    padding: 20px 30px;
}