body{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 50px;
}
.new class{
    padding: 0%;
}
.orange-color{
    color: chartreuse;
}
#anik{
    width: 30#;
}
.flexible-container{

    
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(greenyellow,orange);
   
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 200;
    
}
.color{
    color: tomato;
}
.top-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.mid-center{
    text-align:center ;
    padding-left: 15%;
    padding-right: 15%;
}
.box-shadow{
    padding: 10px 40px;
}
.experience-item{
    width:600px;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    margin-left: 5%;
    margin-right: 5%;
    
    box-shadow: 5px 5px 20px gray;

   
}

#wev-div{
    
    width: 180px;
    height: 280px;
    border-left: 5px solid;
    border-image-width: 10%;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1 ;
}
#Wev-dev-experience{
    width: 25%;
    height: 280px;
    border-left: 5px solid;
    border-image-width: 10%;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1 ;
}
#third-box{
    width: 25%;
    height: 280px;
    border-left: 5px solid;
    border-image-width: 10%;

    border-image: linear-gradient(orange,blue);
    border-image-slice: 1;
}
img{
    width: 300px;
    height: auto;
    border: currentColor;
}

